* {
    box-sizing: border-box;
}

div#splash {
    max-height: 20vh;
}
img#banner-img {
    max-width: 25vw;
}
h1,
h2,
h3 {
    font-size: 4em;
    font-family: "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica,
        Arial, sans-serif;
    color: #537895;
    text-align: center;
}
body {
    font-family: "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica,
        Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    background-size: 100%;
}
main {
    display: block;
    text-align: center;
    margin-bottom: 5%;
}
#header {
    max-height: 4vh;
    width: 100vw;
    /* position: fixed; */
    top: 20px;
    left: 0;
    flex-direction: row;
    align-content: space-between;
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #537895 0%, #09203f 74%);
    margin-bottom: 5%;
}
#header .link {
    line-height: 50px;
    margin-top: 4%;
    margin: 2%;
    color: #c9e6fc;
    background-color: #5378958e;
    padding: 0.6em;
    font-size: 2em;
    text-decoration: none;
    font-family: "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica,
        Arial, sans-serif;
}
a {
    font-size: 25px;
    text-decoration: none;
    font-family: "Courier", "Helvetica Neue", "Lato", "Segoe UI", Helvetica,
        Arial, sans-serif;
    color: #537895;
}
img {
    margin: 10px;
}
img#icon-pic {
    max-height: 8vh;
    float: right;
    align-self: flex-end;
    border: #380036, solid 1px;
    border-radius: 50%;
}
img#logo-pic {
    max-height: 10vh;
    float: left;
    align-self: flex-start;
    background-color: #5378958e;
    margin-top: 2vh;
}
#other-profile-pic {
    max-height: 15vh;
}
input {
    display: block;
    margin: 20px;
    padding: 1.2 em;
}
input#bio-editor {
    display: inline-block;
    padding: 4%;
}
#modal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}
#modal-card {
    align-self: center;
    min-height: 20vh;
    min-width: 30vw;
    background-color: #734ae8;
    background-image: linear-gradient(315deg, #734ae8 0%, #89d4cf 74%);
    color: rgb(60, 60, 107);
}
#upload-img-btn {
    z-index: 50;
    height: 30px;
    margin: 5%;
}
#modal-close {
    float: right;
    color: black;
    font-size: 40px;
    cursor: pointer;
}
#profile-pic {
    cursor: pointer;
    max-width: 15vw;
    align-self: center;
    margin-top: 5%;
}
input[name="find-person"],
input[name="open-finder"] {
    position: absolute;
    border: #380036, solid 1px;
    box-shadow: 2px 5px #380036;
    background-color: aliceblue;
    text-align: center;
    font-size: large;
    color: rgb(60, 60, 107);
    height: 5vh;
    margin: 5px;
    left: 15%;
}

button {
    border: #380036, solid 1px;
    box-shadow: 2px 5px #380036;
    text-align: center;
    font-size: large;
    color: rgb(60, 60, 107);
    height: 5vh;
    cursor: pointer;
    margin: 1%;
}
div#accepted,
div#wannabes {
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-left: 2%;
    padding-right: 2%;
}
div.friend-card {
    margin: 2%;
}
div.msg-container {
    border: #380036, solid 1px;
    box-shadow: 2px 5px #380036;
    height: 600px;
    overflow-y: scroll;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}
textarea#text {
    width: 80%;
    margin: 5% 10%;
}
button#send {
    margin-left: 15px;
}
img.msg-pic {
    border-radius: 50%;
    max-width: 60px;
}
div.message-div {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin-left: 5%;
}
div.wall-container {
    border: #380036, solid 1px;
    box-shadow: 2px 5px #380036;
    height: 600px;
    overflow-y: scroll;
    text-align: center;
    width: 80%;
    margin-left: 5%;
}
